extends layout/layout

block content
	div(class="page-header")
				h1 
					center ยืมอุปกรณ์
			div(class="row")
				form(class="form-horizontal form-center", method="POST", action="/borrow/save")
					table(id="itemTable", align="center", style="width:50%", class="table table-striped")
						thead
							tr
								th อุปกรณ์
								th จำนวน
						tbody
							if wishlist
								-each item in wishlist
									tr
										td= item.name
										td 
											input(type="text", class="form-control", style="width:50%", placeholder="จำนวน", name=item.id)

					div(class="submit")
						div(class="col-md-12")
							center
								button(type="button",class="btn btn-default btn-lg") ยืนยัน
					br
					br
					br
					br
						
			div(class="row")
				form(class="form-horizontal form-center",role="search", method="POST", action="/borrow")
					div(class="form-group")
						label(for="search", class="col-sm-4 control-label") ค้นหา
						div(class="col-sm-4")
							input(type="text", class="form-control", placeholder="รหัส/ชื่ออุปกรณ์", name="search")
						button(type="submit", class="btn btn-default") search				
			div(class="row")
				-each item in listThing
					div(class="form-group")
						center
							label(for="search", class="col-md-offset-5 col-md-1 control-label")= item.name
							div(class="col-md-2")
								form(class="form-horizontal form-center",role="search", method="POST", action="/borrow/add")
									input(type="hidden", class="form-control", name="choose", value=item.idthing)
									button(type="submit", class="btn btn-default") เลือก
					br
					br
			div(class="row")
				div(class="date-time")
					div(class="col-md-6")
						center
							p รับอุปกรณ์ภายในเวลา
							script(type="text/javascript").
								var currentTime = new Date();
								var hours = currentTime.getHours();
								var minutes = currentTime.getMinutes();
								var a = hours + 3;
								if (minutes < 10){
									minutes = "0" + minutes
								}

								document.write(a + ":" + minutes + " ");
					div(class="col-md-6")
						center
							p กำหนดคืนอุปกรณ์
							script(language="javascript").
								var d = new Date();
								d.setTime((d.getTime() + (86400 * 7) * 1000*1)); 
								var month = d.getMonth() + 1;
								var day = d.getDate();
								var year = d.getFullYear();
								document.write(month + "/" + day + "/" + year);
							