extends layout/layout

block content
	div(class="row")
		div(class "col-xs-12 col-md-12")
			div(class="page-header")
				h1(class="text-center")= 'รายละเอียดรายการ ' +idwork
			div(class="row")
					div(class="text-right col-xs-6 col-md-11")
						p= status
					div(class="col-xs-6 col-md-1")
						a(class="btn btn-default", href= "/detail/delete?choose=" + idwork) ลบ
	div(class="row")
		div(class="col-xs-12 col-md-12")
			table(id="itemTable", class="table table-striped")
						thead
							tr
								th ลำดับ
								th รายการ
								th จำนวน						
						tbody
							-each item in listBorrow
								tr
									td 
									td= item.name
									td= item.amount
	div(class="row")
		div(class="col-xs-12 col-md-12")
			div(class="form-group")
				div(class="col-sm-offset-5 col-sm-6")
					br
					a(class="btn btn-default", href= "/detail/comfirm?choose=" + idwork) ยืนยัน