extends layout/layout

block content
	table(id="itemTable", align="center", style="width:50%", class="table table-striped")
				thead
					tr
						th ลำดับ
						th รายการ
						th จำนวน						
				tbody
					tr
						td
						td
						td
	div(class="row")
		div(class="col-xs-12 col-md-12")
			div(class="form-group")
				div(class="col-sm-offset-5 col-sm-10")
					br
					button(type="submit", class="btn btn-default") ยืนยัน