extends layout/layout

block content
	div(class="page-header")
				h1 
					center คืนอุปกรณ์
			div(class="item-1")
				div(class="row")
					div(class="col-md-2 col-md-offset-2")
						center
							p รายการที่ 1
					div(class="col-md-3")
						button(class="btn btn-default dropdown-toggle",type="button",id="dropdownMenu1",data-toggle="dropdown",aria-haspopup="true",aria-expanded="true",style="width: 100%") เลือกอุปกรณ์
							span(class="caret")
						ul(class="dropdown-menu",aria-labelledby="dropdownMenu1")
							li
								a(href="#") ปากกา
							li
								a(href="#") กรรไกร
							li
								a(href="#") ชอล์ก
							li
								a(href="#") ลวดเย็บกระดาษ
					div(class="col-md-1")
						center จำนวน
					div(class="col-md-1")
						center
							input(type="text",class="form-control",placeholder="จำนวน")
			div(class="item-2")
				div(class="row")
					div(class="col-md-2 col-md-offset-2")
						center
							p รายการที่ 2
					div(class="col-md-3")
						button(class="btn btn-default dropdown-toggle",type="button",id="dropdownMenu1",data-toggle="dropdown",aria-haspopup="true",aria-expanded="true",style="width: 100%") เลือกอุปกรณ์
							span(class="caret")
						ul(class="dropdown-menu",aria-labelledby="dropdownMenu1")
							li
								a(href="#") ปากกา
							li
								a(href="#") กรรไกร
							li
								a(href="#") ชอล์ก
							li
								a(href="#") ลวดเย็บกระดาษ
					div(class="col-md-1")
						center จำนวน
					div(class="col-md-1")
						center
							input(type="text",class="form-control",placeholder="จำนวน")
			div(class="item-3")
				div(class="row")
					div(class="col-md-2 col-md-offset-2")
						center
							p รายการที่ 3
					div(class="col-md-3")
						button(class="btn btn-default dropdown-toggle",type="button",id="dropdownMenu1",data-toggle="dropdown",aria-haspopup="true",aria-expanded="true",style="width: 100%") เลือกอุปกรณ์
							span(class="caret")
						ul(class="dropdown-menu",aria-labelledby="dropdownMenu1")
							li
								a(href="#") ปากกา
							li
								a(href="#") กรรไกร
							li
								a(href="#") ชอล์ก
							li
								a(href="#") ลวดเย็บกระดาษ
					div(class="col-md-1")
						center จำนวน
					div(class="col-md-1")
						center
							input(type="text",class="form-control",placeholder="จำนวน")
			div(class="submit")
				div(class="col-md-11")
					center
						br
						button(type="button",class="btn btn-default btn-lg")ยืนยัน
							